.indoorunMap_map {
  height:100%;
  background-size:50px auto;
  position:absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  text-align:center;
  font-size:16px;
  line-height:24px;
  color:#e63174;
}

.canvas-frame {
  position:absolute;
  left:0;
  top:0;
  width: 414px;
  height: 736px;
}

.page {
  position:absolute;
  width: 100%;
  height: 100%;
}

#composs {
  position: absolute;
  left: 1rem;
  top: 9.5rem;
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate(0deg);
  background: url("./resetMap.png") transparent no-repeat;
  background-size: contain;
}

* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none; }

body, html {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
  font-family: "Microsoft Yahei", "Arial", "Helvetica"; }

input {

  -webkit-appearance: none;
}

#alertbox {
  z-index: 999; }

#debug {
  z-index: 2000;
  position: absolute;
  left: 2rem;
  top: 5rem;
  font-size: 1rem;
  visibility: hidden; }
