.indoorunMap_map {
  height:100%;
  background-size:50px auto;
  position:absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  text-align:center;
  font-size:16px;
  line-height:24px;
  color:#e63174;
}

.canvas-frame {
  position:absolute;
  left:0;
  top:0;
  width: 414px;
  height: 736px;
}

.page {
  position:absolute;
  width: 100%;
  height: 100%;
}

#composs {
  position: absolute;
  left: 1rem;
  top: 4rem;
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(0deg);
  background: url("./resetMap.png") transparent no-repeat;
  background-size: contain;
}

#debug {
  z-index: 1000;
  position: absolute;
  font-size: 0.5rem;
  visibility: hidden; }


#alertbox {
  z-index: 999; }
